<div class="left-nav">

  <div class="header-image">
    <%= image_tag "profile.jpg", alt: "Profile Image ", class: "profile-pic" %>
  </div>
  <div class="header-text">
    <h1>Dax Murray</h1> <p>Software engineer: writing about, speaking about, and ranting about code.</p>
    <div class="article--text">
      <div class="social-share">
      <a href="http://www.twitter.com/nikkilizmurray" target="_blank"><i class="fa fa-twitter">  </i></a>
      <a href="http://www.github.com/jdax" target="_blank"><i class="fa fa-github"></i></a>
      <a href="http://www.linkedin.com/in/nicolelizmurray" target="_blank"> <i class="fa fa-linkedin"></i></a>
    </div>
    </div>
  </div>


  <div class="left-nav-links">
    <ul>
      <li><%= link_to "Code", codes_path%></li>
      <li><%= link_to "Speaking", speakings_path%></li>
      <li><%= link_to "Writing", writings_path %></li>
      <li><%= link_to "Curriculum Vitae", about_me_index_path %></li>
      <li><a href="http://www.daxmurray.com">My Book Review Blog</a></li>
      <li><a href="http://www.dax.cat">My Cats</a></li>
    </ul>
  </div>


  <%= render "layouts/footer" %>
</div>