<!DOCTYPE html>
<html>
<head>
  <title>dax codes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=PT+Serif:700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic' rel='stylesheet' type='text/css'>

  <meta charset="utf-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta content="Dax Murray Codes" name="Dax Murray Codes">
  <meta name="description" content="Dax Murray's coding portfolio" />

  <!-- Facebook -->
  <meta property="og:title" content="Dax Murray Codes" />
  <meta property="og:description" content="Dax Murray Codes" />
  <meta property="og:url" content="http://www.dax.codes/" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Dax Murray Codes" />

  <!-- TWITTER -->
  <meta name="twitter:card" content="summary_large_image" >
  <meta name="twitter:site" content="@DaxAeterna">
  <meta name="twitter:site:id" content="">
  <meta name="twitter:creator" content="@DaxAeterna">
  <meta name="twitter:title" content="Dax Murray Codes">
  <meta name="twitter:description" content="Dax Murray Codes">
  <meta name="twitter:image" content="">  <%= csrf_meta_tags %>
</head>
<body>
<div id="main" role="main">
  <%= render "layouts/navbar" %>
  <div class="mobile-nav">
    <%= render "layouts/mobile_nav" %>
  </div>
  <%= render "layouts/mobile_links" %>

  <div>
    <%= yield %>
  </div>


</div>


</body>
</html>
