<!DOCTYPE html>
<html>
<head>
  <title>nikki codes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main" role="main">
  <%= render "layouts/navbar" %>
  <div class="mobile-nav">
    <%= render "layouts/mobile_nav" %>
  </div>
  <%= render "layouts/mobile_links" %>

  <div>
    <%= yield %>
  </div>


</div>


</body>
</html>
