<!DOCTYPE html>
<html>
<head>
  <title>dax codes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=PT+Serif:700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main" role="main">
  <%= render "layouts/navbar" %>
  <div class="mobile-nav">
    <%= render "layouts/mobile_nav" %>
  </div>
  <%= render "layouts/mobile_links" %>

  <div>
    <%= yield %>
  </div>


</div>


</body>
</html>
